include ../navbar.pug

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no")

        title Axom Language
        meta(
            name="description"
            content="Axom Language Reference"
        )
        link(rel='stylesheet' href='try.sass')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        
        script(type="module" src="try.ts")

        +navbar_script

    body
        +navbar

        textarea#axom_input
            | {"hello world!".print}

        button(onclick="axom_run()") Run

        #axom_output

        footer
            a(href="https://github.com/m-colson")
                p Matthew Colson(github)