mixin navbar_script
    style.
        @import '/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';
        @import '/node_modules/@fortawesome/fontawesome-free/css/solid.min.css';

    script.
        function toggle_nav_container() {
            let x = document.getElementById("navbar_container");

            if(x == null){
                console.error("Navbar_container does not exist")
                return
            }

            if (x.style.display === "flex") {
                x.style.removeProperty('display');
            } else {
                x.style.display = "flex";
            }
        }

        function collapse_nav_bar() {
            document
                .getElementById("navbar_container")
                .style
                .removeProperty('display');
        }

        function setup_navbar() {
            let navbar = document.getElementById("navbar");

            let navbar_sticky = navbar.offsetTop;

            addEventListener('resize', () => {
                navbar_sticky = navbar.offsetTop;
                navbar_check_scroll();
            });
            
            function navbar_check_scroll() {
                if (window.pageYOffset > navbar_sticky) {
                    navbar.classList.add("sticky")
                } else {
                    navbar.classList.remove("sticky");
                }
            }

            addEventListener('scroll', navbar_check_scroll);
        }

        function navigate() {
            collapse_nav_bar(); 
            navbar.classList.add("sticky");
        }

mixin navbar
    .navbar_context
        .navbar#navbar
            .navbar_mobile_hamburger
                a(href="javascript:toggle_nav_container()")
                    i(class="fa fa-bars")
            #navbar_container
                a(href="/" onclick="navigate()")
                    p Home
                a(href="/#about" onclick="navigate()")
                    p About Me
                a(href="/#portfolio" onclick="navigate()")
                    p My Projects