extends mod.pug

block Name
    | The Atawata

block Long_Desc
    p.
        Regulates the soil moisture in a composter for optimal composting. Used for my Eagle Scout Project.

    p.
        I've been through so many version of this project to find the optimal solution.

    p.
        Currently it uses an ESP8266 development board to allow for a wifi based connection with the atawata.

    p
        | You can view the board's source code 
        a(href="https://github.com/m-colson/atawata-board") here

    p
        | You can view the website's source code 
        a(href="https://github.com/m-colson/atawata-website") here