extends mod.pug

block Name
    | Event Server

block Long_Desc
    p.
        Written so that I could have one easy api from multiple calendar sources.
    p 
        | You can view the source code 
        a(href="https://github.com/m-colson/event_server") here