extends mod.pug

block Name
    | Personal Website

block Long_Desc
    p.
        This website! Originally written with Yew in Rust before I decided to make speed a priority.
    p.
        Now it is writen with Pug and Sass to make it easier for me to get closer to basic HTML and CSS.
    p 
        | You can view the source code 
        a(href="https://github.com/m-colson/personal-portfolio") here